<section class="nav-container">
    <div class="nav-left-container">
      <a href="">
        <img class="logo-img" src="assets/icon/foodstack-logo.png" alt="logo" />
      </a>
    </div>
    <div class="nav-right-container">
      <nav class="nav">
        <a class="nav-item support" href="">support</a>
        <a class="nav-item blog" href="">blog</a>
        <a class="nav-item contact" href="">contact</a>
        <a class="nav-item about" href="">about</a>
      </nav>
      <div class="div-login-btn">
        <a class="login-btn" href="">log in</a>
      </div>
    </div>
  </section>