<section class="discover">
    <div class="container-discover w-container">
        <h2>Discover your nutrition</h2>
        <div class="discover-sub-text">
            <h6>
                Foodstack encourages you to not just count your calories but to focus on your nutrition as a
                whole. 
            </h6>
        </div>
    </div>
    <div class="container-discover w-container">
        <div class="container-discover-info">
            <div class="layout-grid">
                <div class="grid-left">
                    <img class="meal" src="assets/images/meal-balanced.png" alt="meal image">
                    <img class="macronutrients" src="assets/images/macronutrients-balance.png" alt="macronutrients image">
                </div>
                <div class="grid-right">
                    <div class="checkmark">
                        <img src="/assets/images/checkmark.svg" alt="checkmark">
                    </div>
                    <div class="checkmark-text">
                        <h5>Over 9 million users</h5>
                        <p>Join the community to get tips and inspiration from other users on our forums and Facebook group.</p>
                    </div>
                    <div class="checkmark">
                        <img src="/assets/images/checkmark.svg" alt="checkmark">
                    </div>
                    <div class="checkmark-text">
                        <h5>Over 9 million users</h5>
                        <p>Join the community to get tips and inspiration from other users on our forums and Facebook group.</p>
                    </div>
                    <div class="checkmark">
                        <img src="/assets/images/checkmark.svg" alt="checkmark">
                    </div>
                    <div class="checkmark-text">
                        <h5>Over 9 million users</h5>
                        <p>Join the community to get tips and inspiration from other users on our forums and Facebook group.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
