<section class="footer">
    <div class="container-footer w-container">
        <div class="layout-grid">
            <div class="layout-grid-logo">
                <img src="assets/icon/foodstack-logo.png" alt="logo img">
            </div>
            <div class="layout-grid-column-1">
                <p class="layout-grid-colum-1-title">The Product</p>
                <p class="layout-grid-colum-1-list">
                    <a href="">For Individuals</a>
                    <br>
                    <a href="">For Professionals</a>
                    <br>
                    <a href="">Privacy</a>
                    <br>
                    <a href="">Terms</a>
                    <br>
                </p>
            </div>
            <div class="layout-grid-column-2">
                <p class="layout-grid-colum-1-title">The Product</p>
                <p class="layout-grid-colum-1-list">
                    <a href="">For Individuals</a>
                    <br>
                    <a href="">For Professionals</a>
                    <br>
                    <a href="">Privacy</a>
                    <br>
                    <a href="">Terms</a>
                    <br>
                </p>
            </div>
            <div class="layout-grid-column-3">
                <p class="layout-grid-colum-1-title">The Product</p>
                <p class="layout-grid-colum-1-list">
                    <a href="">For Individuals</a>
                    <br>
                    <a href="">For Professionals</a>
                    <br>
                    <a href="">Privacy</a>
                    <br>
                    <a href="">Terms</a>
                    <br>
                </p>
            </div>
        </div>
        <div class="layout-grid-border"></div>
        <div class="layout-grid-social-media">
            <div class="social-media-icons">
                <a href="mailto:me2@gmail.com">
                    <i class="fas fa-envelope contact-icons"></i>
                </a>
                <a href="http://facebook.com" target="_blank">
                    <i class="fab fa-facebook contact-icons"></i>
                </a>
                <a href="http://Instagram.com" target="_blank">
                    <i class="fab fa-instagram contact-icons"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" >
                    <i class="fab fa-twitter contact-icons"></i>
                </a>
            </div>
            <div class="download-apps">
                <div class="apple-icon">
                    <a href="">
                        <img src="assets/images/googleplay-logo.png" alt="google play image">
                    </a>
                </div>
                <a class="googleplay-icon" href="">
                    <img src="assets/images/applestore-logo.png" alt="apple store image">
                </a>
            </div>
        </div>
        <div class="copyright">
            © {{currentYear}} Copyright:<a class="footer-link" target="_blank" href="https://www.linkedin.com/in/viktorstefanov">Viktor Stefanov</a>
            <br>
            All rights reserved
        </div>
    </div>
</section>