.more-posts{
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
}

.more-posts a {
    text-align: center;
    border-radius: 6px;
    background-color: #ff6c3b;
    font-size: 1.15rem;
    cursor: pointer;
    padding: 12px 40px;
    margin-top: 30px;
    font-family: Lato;
    color: #180f15;
    /* text-transform: uppercase; */
}

.more-posts:hover a{
  box-shadow: 0 2px 8px #777986;
}

.fa-arrow-right{
    padding-left: 10px;
}

@media (min-device-width: 360px) and (max-device-width: 414px) and (orientation: portrait) {
    .more-posts a {
        margin-top: 40px;
        padding: 15px 30px;
        font-size: 1.1rem;
        font-family: 'Roboto';
      }
}