<div class="foods-container">

    <div class="dialog-head">
      <div>
        <h2>Add Exercise to Diary</h2>
      </div>
      <div class="btn-modal-close" (click)="closeDialog()">
        <i class="fal fa-times close-icon"></i>
      </div>
    </div>
  
    <div class="dialog-search-bar">
          <form>
              <input type="text" placeholder="Search all exercises">
              <button>SEARCH</button>
          </form>
    </div>
  
    <div class="dialog-content">
          <div class="content-table">
              <div class="table-tr-head">
                  <span>Description</span>
                  <span>Source</span>
              </div>
              <div class="table-tr">
                  <span>Swimming</span>
                  <span>50m</span>
              </div>
              <div class="table-tr">
                  <span>Runninng</span>
                  <span>50g</span>
              </div>
              <div class="table-tr">
                  <span>Chichen</span>
                  <span>50g</span>
              </div>
              <div class="table-tr">
                  <span>Chichen</span>
                  <span>50g</span>
              </div>
              <div class="table-tr">
                  <span>Chichen</span>
                  <span>50g</span>
              </div>
              <div class="table-tr">
                  <span>Chichen</span>
                  <span>50g</span>
              </div>
              <div class="table-tr">
                  <span>Chichen</span>
                  <span>50g</span>
              </div>
          </div>
    </div>
  
    <div class="dialog-add">
      <div class="charts">
          <div class="chart">
              <div class="inner-circle">
                  <span class="sub-text">Burned: <br>1950 kcal</span>
              </div>
          </div>
          <div class="food-add">
              <form class="food-add-form" action="">
                  <div class="serving">
                      <label class="serving-header">
                          Serving size: 
                      </label>
                      <label><input type="text"> g.</label>
                  
                  </div>
                  <button>ADD TO DIARY</button>
              </form>
          </div>
      </div>
    </div>
  </div>
  