.nav-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  min-height: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  padding-bottom: 2%;
}

.nav-left-container {
  display: flex;
  width: 50%;
  align-items: center;
}

.logo-img {
  width: 365px;
  height: 76px;
}

.nav-right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.6rem;
  margin-top: 20px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-item:hover {
  opacity: 0.6;
}

.div-login-btn {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.login-btn {
  display: flex;
  padding: 8px 32px;
  border: 1.5px solid #462b3c;
  border-radius: 8px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #f26a07;
  font-size: 1.5rem;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.div-login-btn:hover {
  opacity: 0.6;
}

.hero {
  margin-top: 4%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-right: 2%;
  padding-bottom: 4%;
  padding-left: 2%;
  background-image: url('/assets/images/dots.png');
  background-position: 100% 100%;
  background-size: 35%;
  background-repeat: no-repeat;
}

.container-welcome{
  max-width: 1280px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
}

.w-layout-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.w-layout-flex-left, .w-layout-flex-right{
  display: flex;
  flex-direction: column;
}

.w-layout-flex-left h1{
  font-size: 3.43em;
  line-height: 1.1em;
  text-align: left;
}

.w-layout-flex-left h5{
  font-family: 'Lato';
  font-size: 1.41em;
  line-height: 1.5em;
  font-weight: 400;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 9%;
  margin-bottom: 5%;
}

.w-layout-flex-left .sign-up-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.w-layout-flex-left .sign-up-btn a:hover {
  box-shadow: 0 2px 8px 0 rgba(119, 121, 133, 0.76);
  color: #462b3c;
}


.w-layout-flex-left .sign-up-btn a {
  display: flex;
  margin-top: 4%;
  margin-bottom: 0%;
  padding: 5% 15%;
  border-radius: 10px;
  background-color: #ff6c3b;
  font-family: Lato;
  color: #462b3c;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.w-layout-flex-right{

}

.w-layout-flex-right iframe {
  border-radius: 1rem;
  border: 2px solid #462b3c;
}

.web-usage-mentions{
  margin-top: 2%;
  padding: 3% 2%;
  border-top: 1px solid #f0f2fa;
  border-bottom: 1px solid #f0f2fa;
  background-color: #fb8057;
}

.web-usage-mentions-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
}

.web-usage-mentions-container .text-center{
  text-align: center;
  font-family: Lato;
  font-size: 1.2em;
  line-height: 1.5em;
}

.w-layout-mentions{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 1%;
}

.w-layout-mentions img{
  display: inline-block;
  max-width: 100%;
  border: 0;
  justify-self: end;
  width: 15%;
  height: 35px;
}

.w-layout-apps{
display: flex;
justify-content: center;
margin-top: 1%;
gap: 32px;
}

.w-layout-apps .web-usage-link {
  line-height: 1.5em;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
}

.w-layout-apps .web-usage-link:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.w-layout-apps .web-usage-link img {
  max-width: 100%;
  width: 30%;
  border-radius: 8px;
}

.available {
  padding-top: 3%;
  font-size: 1.2em;
}