<section class="nav-container">
  <div class="nav-left-container">
    <a href="">
      <img class="logo-img" src="assets/icon/foodstack-logo.png" alt="logo" />
    </a>
  </div>
  <div class="nav-right-container">
    <nav class="nav">
      <a class="nav-item support" href="">support</a>
      <a class="nav-item blog" href="">blog</a>
      <a class="nav-item contact" href="">contact</a>
      <a class="nav-item about" href="">about</a>
    </nav>
    <div class="div-login-btn">
      <a class="login-btn" href="">log in</a>
    </div>
  </div>
</section>

<section class="hero">
  <div class="container-welcome w-container">
    <div class="w-layout-flex">
        <div class="w-layout-flex-left">
            <h1>
                Eat smarter.
                <br>
                Live better.
            </h1>
            <h5>
                Track your diet, exercise, and health data.
            </h5>
            <div class="sign-up-btn">
                <a href="">Sign up - It's Free!</a>
            </div>
        </div>
        <div class="w-layout-flex-right">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VEQaH4LruUo?si=en7G4VVVkeKatFW7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</section>

<section class="web-usage-mentions">
    <div class="web-usage-mentions-container w-container">
        <span class="text-center">As seen in</span>
        <div class="w-layout-mentions">
            <img src="assets/images/women's health logo.png" alt="women's health logo">
            <img src="assets/images/lifehacker-logo.png" alt="lifehacker's logo">
            <img src="assets/images/mensjournal logo.png" alt="menshealth's logo">
        </div>
        <span class="text-center available">Available on Web, iOS and Android.</span>
        <div class="w-layout-apps">
          <a class="web-usage-link" href="">
            <img src="assets/images/googleplay-logo.png" alt="googleplay's logo">
          </a>
          <a class="web-usage-link" href="">
            <img src="assets/images/applestore-logo.png" alt="appstore's logo">
          </a>
        </div>
    </div>
</section>
