.footer {
  padding: 6% 2% 4%;
  background-color: #000;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.layout-grid {
  margin: 0% 0% 4%;
  display: grid;
  grid-column-gap: 32px;
  grid-template-columns: 1.25fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-row-gap: 16px;
  gap: 10%;
}

.layout-grid-logo img {
  width: 350px;
}

.layout-grid-column-1 {
  padding-right: 24%;
}

.layout-grid-column-1,
.layout-grid-column-2,
.layout-grid-column-3 {
  font-family: Lato;
  padding-top: 2.3rem;
}

.layout-grid-colum-1-title {
  margin-bottom: 4%;
  padding-bottom: 1%;
  font-family: Anta;
  line-height: 1.5em;
  font-size: 1.25em;
  font-weight: 700;
  color: #fb8057;
}

.layout-grid-colum-1-list {
  line-height: 2.5em;
  padding-left: 1rem;
}

.layout-grid-border {
  border-top: 5px solid #fb8057;
  border-radius: 6px;
}

.layout-grid-social-media {
  margin-top: 4%;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.social-media-icons {
  display: flex;
  gap: 1.5rem;
}

.download-apps {
  display: flex;
  gap: 3rem;
}

.googleplay-icon img,
.apple-icon a img {
  max-width: 100%;
  border-radius: 8px;
  height: 35px;
}

.copyright {
  /* margin-top: 6%; */
  color: #fff;
  font-family: Lato;
  font-size: 1.1rem;
  line-height: 1.8em;
  font-weight: 400;
  text-align: left;
}

.footer-link {
  margin-left: 0.3rem;
  text-decoration: none;
  color: #f3f3f3;
}

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #fb8057;
}

.contact-icons {
  font-size: 2rem;
  color: #fff;
}

.contact-icons:focus,
.contact-icons:hover {
  color: #fb8057;
  cursor: pointer;
}

.layout-grid-colum-1-list a {
  letter-spacing: 1.1px;
}

.layout-grid-colum-1-list a:hover {
  text-decoration: underline;
  color: #fb8057;
}

@media (min-device-width: 360px) and (max-device-width: 414px) and (orientation: portrait) {
  .container-footer {
    margin-top: 3rem;
  }

  .layout-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .layout-grid-column-1, .layout-grid-column-3{
    padding-right: 0;
    text-align: center;
  }

  .layout-grid-column-3 {
    padding-top: 0;
  }

  .layout-grid-logo img {
    width: 270px;
  }

  .layout-grid-border {
    margin: 3rem 0;
  }

  .layout-grid-social-media {
    gap: 0;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }

  .copyright {
    order: 2;
    text-align: center;
    font-size: 1rem;
  }

  .social-media-icons {
    margin-bottom: 2rem;
  }

  .download-apps {
    margin-bottom: 2rem;
  }
}
