<section class="footer">
    <div class="container-footer w-container">
        <div class="layout-grid">
            <div class="layout-grid-logo">
                <img src="assets/icon/foodstack-logo.png" alt="logo img">
            </div>
            <div class="layout-grid-column-1">
                <p class="layout-grid-colum-1-title">Features</p>
                <p class="layout-grid-colum-1-list">
                    <a [routerLink]="'/dashboard/diary'">Diary</a>
                    <br>
                    <a [routerLink]="'/blog'">Blog</a>
                    <br>
                    <a [routerLink]="'/dashboard/foods'">Custom Foods</a>
                    <br>
                    <a></a>
                    <br>
                </p>
            </div>
            <div class="layout-grid-column-3">
                <p class="layout-grid-colum-1-title">Links</p>
                <p class="layout-grid-colum-1-list">
                    <a [routerLink]="'/auth/register'">Sign Up</a>
                    <br>
                    <a [routerLink]="'/auth/login'">Sign In</a>
                    <br>
                    <a [routerLink]="'/contacts'">Contacts</a>
                    <br>
                    <a [routerLink]="'/calculator'">Calories Calculator</a>
                    <br>
                </p>
            </div>
        </div>
        <div class="layout-grid-border"></div>
        <div class="layout-grid-social-media">
            <div class="copyright">
                All rights reserved.<br>
                © {{currentYear}} Copyright:<a class="footer-link" target="_blank" href="https://www.linkedin.com/in/viktorstefanov">Viktor Stefanov</a>
            </div>
            <div class="social-media-icons">
                <a href="mailto:foodstack.customers@gmail.com">
                    <i class="fas fa-envelope contact-icons"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61563145051013" target="_blank">
                    <i class="fab fa-facebook contact-icons"></i>
                </a>
                <a href="https://www.instagram.com/foodstack.app/" target="_blank">
                    <i class="fab fa-instagram contact-icons"></i>
                </a>
            </div>
            <div class="download-apps">
                <div class="apple-icon">
                    <a href="https://play.google.com/store/apps/developer?id=App+Store.&hl=bg&gl=US" target="_blank">
                        <img src="assets/images/googleplay-logo1.png" alt="google play image">
                    </a>
                </div>
                <a class="googleplay-icon" href="https://apps.apple.com/bg/developer/apple/id284417353" target="_blank">
                    <img src="assets/images/applestore-logo1.png" alt="apple store image">
                </a>
            </div>
        </div>
    
    </div>
</section>