.post {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 26px 20px;
  box-shadow: 0px 0px 24px 4px rgba(119, 121, 134, 0.1);
  background-color: #ffffff;
  border-color: #f0f2fa;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: background 0.25s, border 0.25s, box-shadow 0.25s;
  height:380px; 
}

.post a {
  margin-bottom: 20px;
  color: #000;
}

.post a div {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: calc(0.6 * 100%);
}

.post a div img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition: filter 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post div {
  width: 100%;
  text-align: left;
}

.post div h3 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.25em;
}

.post div h3 a {
  font-size: 22px;
  font-weight: 800;
}

@media (min-device-width: 360px) and (max-device-width: 428px) and (orientation: portrait) {
  .post {
    height: unset;
  }
}
