<div class="blog-archives-view">
    <app-home-nav [hideNav]="false"></app-home-nav>
    <div class="archives-container">
        <section class="archives-header">
            <h2>Archives</h2>   
        </section>
        <section class="archives-content-container">
            <div class="archives-content">
                <app-archives-article *ngFor="let blog of displayedBlogs" [blog]="blog"></app-archives-article>
            </div>
        </section>
        <section class="paginator">
            <mat-paginator [length]="blogList.length" [pageSizeOptions]="[6, 12, 24, 36, 54]" (page)="onPageChange($event)">
            </mat-paginator>
        </section>
    </div>
</div>
<app-home-footer></app-home-footer>