<div class="blog-view">
    <app-home-nav [hideNav]="false"></app-home-nav>
    <div class="background">
        <h2>Foodstack Blog</h2>
        <p>Guides, Nutrition tips, Workouts and Lifestyle</p>
        <div class="middle-container">
            <div class="middle-container-left">
                <h2>Eat Smarter. <br>Live Better.</h2>
                <p>Elevate your health journey with the Foodstack - your personalized nutrition companion. Dive deep into the science and unlock the key to vitality and longevity. Track your nutrition and empower yourself to grow. Your path to a healthier and happier life begins here.</p>
                <a class="submit-btn" [routerLink]="'/calculator'">get started</a>
            </div>
            <div class="middle-container-right">
                <img src="assets/images/lifestyle.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="recent-post-container">
        <h2>recent posts</h2>
        <div class="box">
            <app-article *ngFor="let blog of blogList" [blog]="blog"></app-article>
        </div>
        <app-more-posts></app-more-posts>
    </div>
    
</div>
<app-home-footer></app-home-footer>


