<section class="features">
  <div class="container-features w-container">
    <div class="features-list">
      <div class="features-hero">
        <h2>Start taking care of your health<br /></h2>
      </div>
      <div class="features-sub-hero">
        <h6>
          Track your calories, hit your nutrient goals, and watch your progress unfold over time.
        </h6>
      </div>
      <div class="features-w-layout-flex">
        <app-features-item *ngFor="let item of items" [feature]="item"></app-features-item>
      </div>
    </div>
  </div>
</section>
