<section class="features">
  <div class="container-features w-container">
    <div class="features-list">
      <div class="features-hero">
        <h2>Develop healthy habits <br /></h2>
      </div>
      <div class="features-sub-hero">
        <h6>
          Count your calories, ensure you're meeting nutrient targets, and see
          your progress over time.
        </h6>
      </div>
      <div class="features-w-layout-flex">
        <app-features-item *ngFor="let item of items" [feature]="item"></app-features-item>
      </div>
    </div>
  </div>
</section>
