<div class="diary">
    <div class="diary-day-container border">
        <div class="row">
            <h2>Your Custom Foods</h2>
        </div>
        <div class="row">
            <div class="row-head" (click)="openAddDialog()">
                <i style="font-size: 1rem;" class="fas fa-plus"></i>
                <h3>Add Food</h3>
            </div>
        </div>
        <div class="dialog-content" *ngIf="customFoods.length > 0">
            <div class="content-table">
                <div class="table-tr-head">
                    <span>Description</span>
                    <span></span>
                </div>
                <div class="table-tr" *ngFor="let food of customFoods">
                    <span>{{food.label}} <div class="modify-icons">
                        <i (click)="openEditDialog()" class="fas fa-pen"></i>
                        <i (click)="openDeleteDialog()" class="far fa-trash-alt"></i>
                    </div></span>
                    <span></span>
                </div>
            </div>
      </div>
    </div>
</div>