<app-mobile-nav-bar *ngIf="isMobileView" [isDiary]="true"></app-mobile-nav-bar>
<div class="diary">
    <div class="diary-day-container border">
        <div class="row">
            <h2>Your Custom Foods</h2>
        </div>
        <div class="row">
            <div class="row-head" (click)="openAddDialog()" matTooltip="Add Custom Food">
                <i style="font-size: 1rem;" class="fas fa-plus"></i>
                <h3>Add Food</h3>
            </div>
        </div>
        <div class="dialog-content" *ngIf="customFoods.length > 0">
            <div class="content-table">
                <div class="table-tr-head">
                    <span>Description</span>
                    <span></span>
                </div>
                <div class="table-tr" *ngFor="let food of customFoods" (click)="onFoodClick(food)" [ngClass]="{'hovered': selectedFood === food}">
                    <span><i class="fas fa-hamburger"></i>{{food.label}} <div *ngIf="selectedFood === food" class="modify-icons">
                        <i (click)="openEditDialog(food)" class="fas fa-pen"></i>
                        <i (click)="openDeleteDialog(food)" class="far fa-trash-alt"></i>
                    </div></span>
                    <span></span>
                </div>
            </div>
      </div>
    </div>
</div>
<app-home-footer [showFooter]="isMobileView"></app-home-footer>