<div class="foods-container">

    <div class="dialog-head">
      <div>
        <h2>Add Custom Food</h2>
      </div>
      <div class="btn-modal-close" (click)="closeDialog()">
        <i class="fal fa-times close-icon"></i>
      </div>
    </div>

    <div class="dialog-form">
        <form class="add-food-form">
            <div class="add-food-info">
                <div class="info-wrapper">
                    <label for="">Food name:</label>
                    <input type="text">
                </div>
                <div class="info-wrapper">
                    <label for="">Serving size:</label>
                    <input type="text">
                </div>
            </div>
            <div class="add-food-macronutrients">
                <div class="info-wrapper">
                    <label for="">Kcal:</label>
                    <input type="text">
                </div>
                <div class="info-wrapper">
                    <label for="">Proteins:</label>
                    <input type="text">
                </div>
                <div class="info-wrapper">
                    <label for="">Carbohydrates:</label>
                    <input type="text">
                </div>
                <div class="info-wrapper">
                    <label for="">Fats:</label>
                    <input type="text">
                </div>
            </div>
            <div class="info-btn">
                <button>CREATE FOOD</button>
            </div>
        </form>
        <div class="dialog-add">
            <div class="charts">
                <div class="chart">
                    <div class="inner-circle">
                        <span class="sub-text">1950 kcal</span>
                    </div>
                </div>
            </div>
          </div>
    </div>

  </div>
  