<div class="foods-container">

  <div class="dialog-head">
    <div>
      <h2>Add Food to Diary</h2>
    </div>
    <div class="btn-modal-close" (click)="closeDialog()">
      <i class="fal fa-times close-icon"></i>
    </div>
  </div>

  <div class="dialog-search-bar">
        <form [formGroup]="searchForm" (ngSubmit)="onSearchHandler()">
            <input type="text" placeholder="Search all foods" name="searchItem" formControlName="searchItem">
            <button type="submit">SEARCH</button>
        </form>
  </div>

  <div class="dialog-content" *ngIf="searchResults && searchResults.length > 0">
        <div class="content-table">
            <div class="table-tr-head">
                <span>Description</span>
                <span></span>
            </div>
            <div (click)="onFoodClick(food)" class="table-tr" *ngFor="let food of searchResults">
                <span>{{food.label}}</span>
                <span></span>
            </div>
        </div>
  </div>

  <div class="dialog-add" *ngIf="isFoodSelected">
    <div class="charts">
        <div class="chart">
            <div class="inner-circle">
                <span class="sub-text">{{calories}} kcal</span>
            </div>
        </div>
        <div class="food-info">
            <div class="macro-item">
                <i class="fas fa-circle"></i>
                <span class="macro-item-text">Protein: {{protein}}g</span>
            </div>
            <div class="macro-item">
                <i class="fas fa-circle"></i>
                <span class="macro-item-text">Carbohydrates: {{carbohydrates}}g</span>
            </div>
            <div class="macro-item">
                <i class="fas fa-circle"></i>
                <span class="macro-item-text">Fats: {{fats}}g</span>
            </div>
        </div>
        <div class="food-add">
            <form [formGroup]="addForm" (ngSubmit)="onSubmitHandler()" class="food-add-form">
                <div class="serving">
                    <label class="serving-header">
                        Serving size: 
                    </label>
                    <label><input type="number" name="quantity" formControlName="quantity"> g.</label>
                
                </div>
                <button>ADD TO DIARY</button>
            </form>
        </div>
    </div>
  </div>
</div>
