<div class="foods-container">

  <div class="dialog-head">
    <div>
      <h2>Add Food to Diary</h2>
    </div>
    <div class="btn-modal-close" (click)="closeDialog()">
      <i class="fal fa-times close-icon"></i>
    </div>
  </div>

  <div class="dialog-search-bar">
        <form [formGroup]="form" (ngSubmit)="submitHandler()">
            <input type="text" placeholder="Search all foods" name="searchItem" formControlName="searchItem">
            <button type="submit">SEARCH</button>
        </form>
  </div>

  <div class="dialog-content">
        <div class="content-table">
            <div class="table-tr-head">
                <span>Description</span>
                <span>Source</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
            <div class="table-tr">
                <span>Chichen</span>
                <span>50g</span>
            </div>
        </div>
  </div>

  <div class="dialog-add" *ngIf="isFoodSelected">
    <div class="charts">
        <div class="chart">
            <div class="inner-circle">
                <span class="sub-text">1950 kcal</span>
            </div>
        </div>
        <div class="food-info">
            <div class="macro-item">
                <i class="fas fa-circle"></i>
                <span class="macro-item-text">Protein: 13g</span>
            </div>
            <div class="macro-item">
                <i class="fas fa-circle"></i>
                <span class="macro-item-text">Carbohydrates: 33g</span>
            </div>
            <div class="macro-item">
                <i class="fas fa-circle"></i>
                <span class="macro-item-text">Fats: 5g</span>
            </div>
        </div>
        <div class="food-add">
            <form class="food-add-form" action="">
                <div class="serving">
                    <label class="serving-header">
                        Serving size: 
                    </label>
                    <label><input type="text"> g.</label>
                
                </div>
                <button>ADD TO DIARY</button>
            </form>
        </div>
    </div>
  </div>
</div>
