.nav-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    min-height: 90px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    padding-bottom: 2%;
  }
  
  .nav-left-container {
    display: flex;
    width: 50%;
    align-items: center;
  }
  
  .logo-img {
    width: 365px;
    height: 76px;
  }
  
  .nav-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 20px;
  }

  .hide{
    visibility: hidden;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .nav-item:hover {
    opacity: 0.6;
  }
  
  .div-login-btn {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  .login-btn {
    display: flex;
    padding: 8px 32px;
    border: 1.5px solid #462b3c;
    border-radius: 8px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: #f26a07;
    font-size: 1.5rem;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .div-login-btn:hover {
    opacity: 0.6;
  }