<section class="nav-container">
    <div class="nav-left-container">
      <a [routerLink]="'/home'">
        <img class="logo-img" src="assets/icon/foodstack-logo.png" alt="logo" />
      </a>
    </div>
    <div class="nav-right-container">
        <nav [ngClass]="hideNav ? 'hide' : 'nav'">
          <a class="nav-item blog" [routerLink]="'/blog'" target="_blank">blog</a>
          <a class="nav-item about" [routerLink]="'/calculator'">calculator</a>
          <a class="nav-item contact" [routerLink]="'/contacts'">contacts</a>
        </nav>
        <div [ngClass]="hideNav ? 'hide' : 'div-login-btn'">
          <a class="login-btn" [routerLink]="'/auth/login'">log in</a>
        </div>
    </div>
  </section>