.blog-view {
  display: flex;
  flex-direction: column;
}

.background {
  background-image: url(/assets/images/background-blog.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: Lato;
  gap: 20px;
  position: relative;
}

.background h2{
  color: #301d29;;
}

.background p {
  font-size: 1.5rem;
  text-align: justify;
  padding-top: 20px;
}

.background .middle-container {
  background-color: #fff;
  width: 60%;
  position: absolute;
  top: 76%;
  border-radius: 8px;
  padding: 40px 40px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fff;
  box-shadow: #7779861a 0 3px 20px;
}

.middle-container-left,
.middle-container-right {
  width: 50%;
  color: #462b3c;
  font-weight: 700;
}

.middle-container-left h2 {
  line-height: 1.2em;
  font-size: 2.6rem;
  color: #180f15;
}

.middle-container-left p {
  line-height: 1.8rem;
  font-family: Lato;
  font-size: 1.1rem;
  padding-right: 80px;
}

.middle-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-container-right img {
  width: 300px;
  border-radius: 8px;
}

.recent-post-container {
  padding-top: 500px;
  width: 60%;
  align-self: center;
  margin-bottom: 50px;
}

.recent-post-container h2 {
  padding-bottom: 30px;
  padding-left: 50px;
  font-family: Lato;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.blog-view .box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.submit-btn {
  width: 244px;
  text-align: center;
  border-radius: 6px;
  background-color: #ff6c3b;
  font-size: 0.8em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-top: 50px;
  border: none;
  opacity: 1;
}

.submit-btn a {
  color: #180f15;
}

.submit-btn:hover {
  box-shadow: 0 2px 8px #777986;
}
