<div class="blog-archives-view">
    <app-home-nav [hideNav]="false"></app-home-nav>
    <div class="archives-container">
        <section class="archives-header">
            <h2>{{blog?.title}}</h2>   
        </section>
        <section class="archives-content-container">
            <div class="archives-content">
                <article class="archives-article">
                        <div class="image-wrapper">
                            <img src="{{blog?.imageUrl}}" alt="no-img">
                        </div>    
                        <div class="content info">
                            <p>{{blog?.content}}</p>
                        </div>
                        <div class="content img">
                            <img src="{{blog?.secondImageUrl}}" alt="no-img">
                        </div>
                        <h1>{{blog?.subtitle}}</h1>
                        <div class="content info head">
                            <p>{{blog?.description}}</p>
                        </div>
                </article>
            </div>
        </section>
    </div>
</div>
<app-home-footer></app-home-footer>