<section class="hero">
    <div class="container-welcome w-container">
      <div class="w-layout-flex">
          <div class="w-layout-flex-left">
              <h1>
                  Eat smarter.
                  <br>
                  Live better.
              </h1>
              <h5>
                  Track your diet, exercise, and health data.
              </h5>
              <div class="sign-up-btn">
                  <a *ngIf="!isAuthenticated" [routerLink]="'/auth/register'">Sign up - It's Free!</a>
              </div>
          </div>
          <div class="w-layout-flex-right">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/VEQaH4LruUo?si=en7G4VVVkeKatFW7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </section>