<div class="blog-archives-view">
    <app-home-nav [hideNav]="false"></app-home-nav>
    <div class="archives-container">
        <section class="archives-header">
            <h2>Title</h2>   
        </section>
        <section class="archives-content-container">
            <div class="archives-content">
                <article class="archives-article">
                        <div class="image-wrapper">
                            <img src="assets/images/pixels-test.webp" alt="">
                        </div>    
                        <div class="content info">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur veritatis nisi, ad modi fugit aperiam itaque ullam dolor maiores debitis enim numquam doloribus, quidem adipisci incidunt, molestiae fugiat blanditiis. Consequuntur!</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga aliquam blanditiis veritatis consequuntur quas sapiente dolore, temporibus eius ipsum quos cum nulla accusamus, consectetur quae minus veniam sequi, ratione ullam.</p>
                        </div>
                        <div class="content img">
                            <img src="assets/images/pixels-test.webp" alt="">
                        </div>
                        <div class="content info">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi totam laborum tempore cum, nulla corporis. Excepturi a recusandae autem explicabo inventore quia voluptatum ex minus voluptate vero, ducimus iure deleniti?</p>
                        </div>
                        <div class="content info head">
                            <h3>Protein header</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quasi inventore, veniam quod iure alias quae doloribus! Sunt ab incidunt placeat, culpa labore veniam eveniet odio cum reprehenderit expedita? A!</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo quasi inventore, veniam quod iure alias quae doloribus! Sunt ab incidunt placeat, culpa labore veniam eveniet odio cum reprehenderit expedita? A!</p>
                        </div>
                </article>
            </div>
        </section>
    </div>
</div>
<app-home-footer></app-home-footer>