<div class="forgot-pass-view">
    <app-home-nav [hideNav]="true"></app-home-nav>
    <div class="hero">
        <div class="container-forgot w-container">
          <div class="forgot-form">
            <div class="forgot">
              <div class="forgot-box" style="text-align: left">
                <form>
                  <div class="flex-column">
                    <label for="email">Enter your email</label>
                    <input id="email" name="email" placeholder="Email Adress" type="email" />
                  </div>
                  <button type="submit" class="submit-btn">reset password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>