<div class="contact-view">
    <app-home-nav *ngIf="!isMobileView" [hideNav]="false"></app-home-nav>

    <app-mobile-nav-bar *ngIf="isMobileView" [isDiary]="false"></app-mobile-nav-bar>
    <div class="hero">
        <div class="container-contact w-container">
          <div class="contact-box">
            <div class="contact-media">
                <a href="mailto:foodstack.customers@gmail.com">
                    <i class="fas fa-envelope contact-icons"></i>
                </a>
                <a href="https://www.facebook.com/profile.php?id=61563145051013" target="_blank">
                    <i class="fab fa-facebook contact-icons"></i>
                </a>
                <a href="https://www.instagram.com/foodstack.app/" target="_blank">
                    <i class="fab fa-instagram contact-icons"></i>
                </a>
            </div>
            <div class="layout-border"></div>
            <div class="apps">
                <div class="apple-icon">
                    <a href="https://play.google.com/store/apps/developer?id=App+Store.&hl=bg&gl=US" target="_blank">
                        <img src="assets/images/googleplay-logo.png" alt="google play image">
                    </a>
                </div>
                <a class="googleplay-icon" href="https://apps.apple.com/bg/developer/apple/id284417353" target="_blank">
                    <img src="assets/images/applestore-logo.png" alt="apple store image">
                </a>
            </div>
          </div>
        </div>
      </div>
</div>
<app-home-footer [showFooter]="true"></app-home-footer>