<div class="contact-view">
    <app-home-nav [hideNav]="false"></app-home-nav>
    <div class="hero">
        <div class="container-contact w-container">
          <div class="contact-box">
            <div class="contact-media">
                <a href="mailto:foodstack@gmail.com">
                    <i class="fas fa-envelope contact-icons"></i>
                </a>
                <a href="http://facebook.com" target="_blank">
                    <i class="fab fa-facebook contact-icons"></i>
                </a>
                <a href="http://Instagram.com" target="_blank">
                    <i class="fab fa-instagram contact-icons"></i>
                </a>
                <a href="https://twitter.com/" target="_blank" >
                    <i class="fab fa-twitter contact-icons"></i>
                </a>
            </div>
            <div class="layout-border"></div>
            <div class="apps">
                <div class="apple-icon">
                    <a href="https://play.google.com/store/apps/developer?id=App+Store.&hl=bg&gl=US" target="_blank">
                        <img src="assets/images/googleplay-logo.png" alt="google play image">
                    </a>
                </div>
                <a class="googleplay-icon" href="https://apps.apple.com/bg/developer/apple/id284417353" target="_blank">
                    <img src="assets/images/applestore-logo.png" alt="apple store image">
                </a>
            </div>
          </div>
        </div>
      </div>
</div>