<section class="web-usage-mentions">
    <div class="web-usage-mentions-container w-container">
        <span class="text-center">As seen in</span>
        <div class="w-layout-mentions">
            <img src="assets/images/women's health logo.png" alt="women's health logo">
            <img src="assets/images/lifehacker-logo.png" alt="lifehacker's logo">
            <img src="assets/images/mensjournal logo.png" alt="menshealth's logo">
        </div>
        <span class="text-center available">Available on Web, iOS and Android.</span>
        <div class="w-layout-apps">
          <a class="web-usage-link" href="https://play.google.com/store/apps/developer?id=App+Store.&hl=bg&gl=US" target="_blank">
            <img src="assets/images/googleplay-logo.png" alt="googleplay's logo">
          </a>
          <a class="web-usage-link" href="https://apps.apple.com/bg/developer/apple/id284417353" target="_blank">
            <img src="assets/images/applestore-logo.png" alt="appstore's logo">
          </a>
        </div>
    </div>
</section>