.login-view{
  width: 100%;
  text-align: center;
  background-image: url(/assets/images/dots.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 0%;
  padding-right: 2%;
  padding-bottom: 4%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-register {
  max-width: 1280px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
}

.login-form {
    display: inline-block;
  text-align: center;
  max-width: 500px;
  padding: 90px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #fff;
  box-shadow: #7779861a 0 3px 20px;
  position: relative;
}

.container-header{
    font-size: 28px;
    font-weight: 800;
    margin: 10px;
}

.flex-column{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flex-column label{
  font-size: 20px;
  margin-left: 10px;
}

.flex-column label:nth-of-type(2) {
  margin-top: 15px;
}

.flex-column input{
  width: 100%;
  text-align: left;
  background: #fafbff;
  border: 1px solid #462b3c;
  border-radius: 4px;
  color: #262a3b;
  padding: 8px 16px;
  margin: 10px;
  font-family: Lato;
  font-size: 16px;
}

.flex-column input:focus {
  outline: none;
  border-color: none;
  box-shadow: 0 0 0 .25rem #ff6c3b;;
}

.submit-btn{
  margin: 20px;
  width: 244px;
  text-align: center;
  border-radius: 6px;
  background-color: #ff6c3b;
  color: #462b3c;
  font-size: 1.25em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-top: 50px;
  border: none; 
}

.submit-btn:hover{
  box-shadow: 0 2px 8px #777986;
}

.forgot-password-box{
  margin-top: 20px;
  margin-bottom: 40px;
}

.forgot-password-box a {
  font-family: Lato;
  color: #ff6c3b;
  cursor: pointer;
  text-decoration: underline;
}

.forgot-password-box a:hover{
  opacity: 0.5;
}

.not-member-box{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: Lato;
}

.not-member-box span, .not-member-box a{
  line-height: 1.55em;
}

.not-member-box a {
  text-decoration: underline;
  color: #ff6c3b;
  cursor: pointer;
}

.not-member-box a:hover{
  opacity: 0.5;
}

.error {
  font-family: 'Roboto';
  margin-left: 10%;
  color: #f02849;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media (min-device-width: 360px) and (max-device-width: 414px) and (orientation: portrait) {
  .login-form {
    padding: 1.8rem;
    margin-top: 0;
  }

  .login-view {
    height: unset;
    background-image: unset;
  }
}
