<div class="login-view">
  <app-home-nav [hideNav]="true"></app-home-nav>
  <div class="hero">
    <div class="container-register w-container">
      <div class="login-form">
        <div class="login">
          <div class="login-box" style="text-align: left">
            <form [formGroup]="form" (ngSubmit)="submitHandler()">
              <div class="flex-column">
                <label for="email">Email</label>
                <input
                  formControlName="email"
                  name="email"
                  placeholder="example@email.com"
                  type="email"
                />
                <small
                  *ngIf="email.invalid && (email.dirty || email.touched)"
                  class="error"
                >
                  <div *ngIf="email.errors?.['required']">
                    Enter your email address.
                  </div>
                  <div *ngIf="email.errors?.['pattern']">Enter a valid email address.</div>
                </small>
                <label for="password">Password</label>
                <input
                  id="password"
                  formControlName="password"
                  name="password"
                  placeholder="Password"
                  type="password"
                />
                <small
                  *ngIf="
                    password.invalid && (password.dirty || password.touched)
                  "
                  class="error"
                >
                  <div *ngIf="password.errors?.['required']">
                    Enter your password.
                  </div>
                </small>
              </div>
              <button [disabled]="form.invalid" type="submit" class="submit-btn">login</button>
            </form>
          </div>
          <div class="forgot-password-box">
            <a [routerLink]="'/auth/forgot-password'">Forgot your password?</a>
          </div>
          <div class="not-member-box">
            <span>Not a member?</span>
            <a [routerLink]="'/auth/register'">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-footer [showFooter]="true"></app-home-footer>
