<div class="diary">
  <div class="diary-day-container border">
    <div class="row">
      <div class="row-head" (click)="openFoodsDialog()" matTooltip="Add Food to Diary">
        <i style="font-size: 1rem" class="fas fa-plus"></i>
        <h3>Food</h3>
      </div>
    </div>
    <div *ngIf="dailyFoods.length == 0 " class="row calories">
      <div class="row-border-calories">
        Add foods to see them in your diary.
      </div>
    </div>
    <div *ngIf="dailyFoods.length > 0" class="dialog-content">
        <div class="content-table">
            <div class="table-tr-head">
              <span>Description</span>
              <span>Serving</span>
            </div>
            <div *ngFor="let food of dailyFoods" (click)="onFoodClick(food)" class="table-tr" [ngClass]="{'hovered': selectedFood === food}">
              <span
                >{{food.name}}
                <div class="modify-icons">
                  <i (click)="openEditDialog(food)" class="fas fa-pen"></i>
                  <i (click)="openDeleteDialog(food)" class="far fa-trash-alt"></i></div
              ></span>
              <span>{{food.quantity}} g</span>
            </div>
          </div>
    </div>
    
  </div>
  <div class="diary-calendar-container">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar
        [(selected)]="selected"
        (selectedChange)="dateChanged($event)"
      ></mat-calendar>
    </mat-card>
  </div>
  <div class="diary-result-container">
    <div class="charts">
      <p-chart type="doughnut" [data]="nutritionChartData"></p-chart>
    </div>
    <div class="results">
      <div class="result-energy">
        <span>Energy</span>
        <div class="result-energy-kcal">
          <span>{{consumedCalories}} kcal</span>
          <span class="decoration"></span>
        </div>
      </div>
      <div class="result-energy">
        <span>Protein</span>
        <div class="result-energy-kcal">
          <span>{{consumedProteins}} g</span>
          <span class="decoration"></span>
        </div>
      </div>
      <div class="result-energy">
        <span>Carbohydrates</span>
        <div class="result-energy-kcal">
          <span>{{consumedCarbohydrates}} g</span>
          <span class="decoration"></span>
        </div>
      </div>
      <div class="result-energy">
        <span>Fats</span>
        <div class="result-energy-kcal">
          <span>{{consumedFats}} g</span>
          <span class="decoration"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-add" *ngIf="showNutrinitonFacts">
    <div class="nutrition-facts">
      <h1>Nutrition Facts</h1>
      <div class="section">
        <div class="label">
          <span>Total Fats</span> <span>{{nutritionFactValues?.fats}}g</span>
        </div>
      </div>
      <div class="section">
        <div class="label">
          <span>Total Carbohydrates</span> <span>{{nutritionFactValues?.carbohydrates}}g</span>
        </div>
      </div>
      <div class="section">
        <div class="label">
          <span>Total Proteins</span> <span>{{nutritionFactValues?.protein}}g</span>
        </div>
      </div>
      <div class="section">
        <div class="label">
          <span>Total Calories</span> <span>{{nutritionFactValues?.calories}} kcal</span>
        </div>
      </div>
    </div>
  </div>
</div>
