.diary {
  display: grid;
  grid-template-columns: 3fr 0.8fr;
  grid-template-areas:
    "calories calendar"
    "result .";
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 1;
  transition: all 0.5s ease;
  padding: 2rem 1.5rem 0;
  top: 0;
}

.border {
  border: 1px solid #7779861a;
}

.diary-day-container, .diary-result-container {
  border-radius: 10px;
  box-shadow: #7779861a 0 3px 20px;
}

.diary-day-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  padding: 1.5rem 2rem;
  min-height: 500px;
  grid-area: calories;
}

.diary-calendar-container {
  max-width: 500px;
  margin-left: 20px;
  text-align: center;
  grid-area: calendar;
}

.demo-inline-calendar-card {
  min-width: 440px;
  max-width: 440px;
  max-height: 500px;
  border-radius: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row-head {
    font-size: 1.5rem;
    font-family: Lato;
    display: flex;
    gap: 10px;
    padding: 10px 25px;
    border-radius: 10px;
}

.row-head:hover {
    cursor: pointer;
    background: #ff6c3b;
    color: #fff;
}

.row-head h3 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.calories {
  /* border-radius: 10px;
  border: 1px #e6e8f0 solid; */
  min-height: 400px;
  margin-top: 20px;
  padding: 20px 25px;
  font-family: Lato;
  padding-left: 0 ;
}

.calories div {
  border-radius: 10px;
  border: 1px #e6e8f0 solid;
  width: 100%;
  padding: 30px 20px;
}

.diary-result-container {
    grid-area: result;
    padding: 1.5rem 2rem;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-family: Lato;
}

.charts {
  display: flex;
  gap: 5rem;
  font-family: "Roboto";
}

.chart {
  width: 150px; 
  height: 150px; 
  background-color: #3498db; 
  border-radius: 50%; 
  position: relative; 
}

.chart:nth-child(2) {
  margin-left: 50px;
  background-color: #f13c00; 
}

.inner-circle {
  width: 130px; 
  height: 130px; 
  background-color: #fff; 
  border-radius: 50%; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.centered-text {
  font-family: Lato;
  color: #000;
  font-weight: bold;
  font-size: 20px; 
}

.sub-text {
  font-family: Lato;
  color: #000; 
  font-size: 18px; 
  margin-top: 10px; 
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  gap: 15px;
  font-family: "Roboto";
}

.result-energy {
  display: flex;
  justify-content: space-between;
}

.result-energy-kcal{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.result-energy-kcal .decoration {
  margin-top: 5px;
}

.decoration {
  height: 15px;
  background: #f0f2fa;
  border-radius: 10px;
  width: 400px;
}

/* table */

.dialog-content{
  margin-top: 3.5rem;
  max-height: 600px;
  height: 80%;
  font-family: "Roboto";
}

.content-table {
  border: 1px solid #F5F5F5;
  border-radius: 10px;
  overflow: hidden;
}

.table-tr-head {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: #F5F5F5;
  padding: 10px 30px; 
  border-radius: 10px; 
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.table-tr{
  margin-top: 5px;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  color: #000;
  background-color: #fff;
}

.table-tr span:nth-child(1) {
  display: flex;
}

.modify-icons {
 margin-left: 25px;
 display: flex;
 gap: 15px;
}

.table-tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-tr:hover {
  cursor: pointer;
  background-color: #ff6c3b;
  color: #FFF;

  .modify-icons i:hover {
    opacity: 0.8;
  }
}

/* ticket  */

.dialog-add {
  padding: 1.5rem 1.7rem;
  margin-top: 20px;
}

.nutrition-facts {
  background-color: #fff;
  border: 2px solid #462b3c;;
  padding: 30px 20px 0 20px;
  max-width: 430px;
  min-width: 250px;
  font-size: 14px;
  font-family: Lato;
  display: flex;
  flex-direction: column;
}

.nutrition-facts h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
  padding: 10px 0;
}

.section {
  border-top: 1px solid #462b3c;;
  padding: 5px 0;
  margin-bottom: 15px;
}

.section:nth-of-type(3) {
  border-bottom: 1px solid #462b3c;;
}

.section:nth-of-type(4) {
  margin-top: 20px;
  border-top: none;
  border-bottom: none;
}

.nutrition-facts .label {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.nutrition-facts .label span:first-child {
  font-weight: bold;
}

.table-tr.hovered {
  cursor: pointer;
  background: #ff6c3b;
  color: #fff;
}

.fa-hamburger {
  margin-right: 10px;
}

.chart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.chart-wrapper p {
  font-weight: bold;
  border: 2px solid #f0f2fa;
  padding: 1rem;
  border-radius: 6px;
}

.chart-wrapper a {
  color: inherit;
}

.chart-wrapper p:hover {
  cursor: pointer;
}

@media (min-device-width: 360px) and (max-device-width: 414px) and (orientation: portrait) {
  .diary{
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .demo-inline-calendar-card {
    min-width: 320px;
  }

  .diary-day-container {
    order: 1;
    max-width: 330px;
    min-width: 330px;
    min-height: unset;
    height: unset;
    padding: 1.5rem 0.5rem;

    .calories {
      min-height: unset;
      padding: unset;
      margin-top: 0;
    }

    .dialog-content {
      margin-top: 0.5rem;
    }

    .table-tr span:nth-child(1) {
      max-width: 150px;
    }
  }

  .dialog-add {
    order: 2;
  }

  .diary-calendar-container {
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .diary-result-container {
    order: 3;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .results {
    width: unset;
  }

  .charts {
    flex-direction: column;
    /* order: 1; */
    margin-bottom: 5rem;
  }

  .decoration {
    width: 170px;
  }

  .chart-wrapper:nth-child(2) {
    display: none;
  }

  .table-tr {
    padding: 10px 10px;
  }

}