<section class="discover">
    <div class="container-discover w-container">
        <h2>Unlock your genetic potential</h2>
        <div class="discover-sub-text">
            <h6>
                Foodstack inspires you to go beyond calorie counting and embrace complete, balanced nutrition for holistic well-being.
            </h6>
        </div>
    </div>
    <div class="container-discover w-container">
        <div class="container-discover-info">
            <div class="layout-grid">
                <div class="grid-left">
                    <img class="meal" src="assets/images/meal-balanced.png" alt="meal image">
                    <img class="macronutrients" src="assets/images/macronutrients-balance.png" alt="macronutrients image">
                </div>
                <div class="grid-right">
                    <div class="checkmark">
                        <img src="/assets/images/checkmark.png" alt="checkmark">
                    </div>
                    <div class="checkmark-text">
                        <h5>Proteins</h5>
                        <p>serve as the building blocks of cells and tissues, enzymes for biochemical reactions, hormones for regulating bodily functions, and play roles in immunity, transportation, and cell signaling.</p>
                    </div>
                    <div class="checkmark">
                        <img src="/assets/images/checkmark.png" alt="checkmark">
                    </div>
                    <div class="checkmark-text">
                        <h5>Carbohydrates</h5>
                        <p>are essential for providing energy to the body, serving as the primary source of fuel for the brain, muscles, and other vital functions.</p>
                    </div>
                    <div class="checkmark">
                        <img src="/assets/images/checkmark.png" alt="checkmark">
                    </div>
                    <div class="checkmark-text">
                        <h5>Fats</h5>
                        <p>are crucial for the body as they provide energy, support cell growth, protect organs, help in the absorption of certain vitamins, and contribute to hormone production</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
