<div class="forgot-pass-view">
    <app-home-nav [hideNav]="true"></app-home-nav>
    <div class="hero">
        <div class="container-forgot w-container">
          <div class="forgot-form">
            <div class="forgot">
              <div class="forgot-box" style="text-align: left">
                <form [formGroup]="form" (ngSubmit)="submitHandler()">
                  <div class="flex-column">
                    <label for="email">Enter your email</label>
                    <input id="{{
                      email.invalid && (email.dirty || email.touched)
                        ? 'email'
                        : ''
                    }}"
                    formControlName="email" name="email" placeholder="Email Adress" type="email" />
                    <small
                    *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="error"
                  >
                    <div *ngIf="email.errors?.['required']">
                      Email is required
                    </div>
                    <div *ngIf="email.errors?.['pattern']">Email is invalid</div>
                  </small>
                  </div>
                  <button [disabled]="form.invalid" type="submit" class="submit-btn">reset password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>